{% extends 'user/base.html'%}

 {% block title %}
Login
{% endblock %}
{% load crispy_forms_tags %}
 {% block content %}


<script>
    //document.getElementsByClassName("example");
</script>
<div class="container" style="padding-left:27%; padding-right:27%;">
    <form method="POST">
  <!--<legend class="form-group border-bottom pb=-4"></legend>-->
        {% csrf_token %}
        <fieldset class="form-group">
             {{ form | crispy }}
        </fieldset>
        <button class="form-group btn btn-outline-info" type="submit">
            Sign In
        </button>
    </form>

</div>

{%endblock%}
